

    <div class="row">
      <div class="col-md-6">
        <gui-button-icon></gui-button-icon>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <gui-button-icon colorClass="btn-primary"></gui-button-icon>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <gui-button-icon size="sm" colorClass="btn-secondary" label="Este es small"></gui-button-icon>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <gui-button-icon size="sm" colorClass="btn-success"></gui-button-icon>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <gui-button-icon size="sm" colorClass="btn-danger"></gui-button-icon>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <gui-button-icon size="sm" colorClass="btn-warning"></gui-button-icon>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <gui-button-icon size="sm" colorClass="btn-info"></gui-button-icon>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <gui-button-icon size="sm" colorClass="btn-light"></gui-button-icon>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <gui-button-icon size="sm" colorClass="btn-dark"></gui-button-icon>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <gui-button-icon size="sm" colorClass="btn-link"></gui-button-icon>
      </div>
    </div>