

    <h5>justify End</h5>
    <div class="row">
      <div class="col-md-2">
        <gui-input-icon>
          <i class="fa fa-search"></i>
          <input type="text" placeholder="Este es mi placeholder" class="form-control form-control-sm" id="customer">
        </gui-input-icon>
      </div>
    </div>

    <h5>justify Start</h5>
    <div class="row">
      <div class="col-md-2 input-group-sm">
        <gui-input-icon justify="start">
          <i class="fa fa-search"></i>
          <input type="text" placeholder="Este es mi placeholder" class="form-control" id="customer">
        </gui-input-icon>
      </div>
    </div>