<p>
  steps works!
</p>
<gui-step-group>
     <gui-step>
       <ng-template appStepTitle>
         <span><i class="fa fa-home"></i></span> Step 1
       </ng-template>
       <ng-template appStepContent>
         Conenido del step 1
       </ng-template>
     </gui-step>
     <gui-step icon="fa fa-list-alt" title="Step 2" [validStep]="true">
      <ng-template appStepContent>
         Contenido del step 2
       </ng-template>
     </gui-step>
     <gui-step icon="fa" disabled="true" title="Disabled">
       <ng-template appStepContent>
         Contenido del Desabilitado
      </ng-template>
     </gui-step>
   </gui-step-group>
